.mainLayout {
  color: #fff;
  font-size: 10rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.dark {
  background-color: rgb(16, 28, 45);
}

.header {
  display: flex;
  padding-left: 60rem;
  width: 100%;
  line-height: 40rem;
  justify-content: flex-start;
}

.header p{
  margin-left: 10rem;
  font-size: 14rem;
}

.leftBar{
  width: 200rem;
  padding: 10rem 0;
}

.subWindow{
  width: calc(100% - 200rem);
  color: #000;
}
.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #101c2d;
  color: #fff;
}
