.orderListFrame {
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
.listItem {
  width: 400rem;
  list-style-type: none;
  margin-top: 10px;
  padding: 5px;
  background-color: #f5f5f5;
}

.orderContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.orderContainer h2 {
  font-size: 18px;
  color: #333;
}

