.button {
  padding: 2rem;
}
.editPrice::before {
  content: '$';
}
.orderListFrame {
  margin-top: 50rem;
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

.orderContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.line {
  width: 100vw;
  max-height: 2rem;
  background-color: #333;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.buttons button{
  margin-left: 5rem;
}