@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT328&display=swap');

/*Other font
  *font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif; */

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  /* Google Font */
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
}

button {
  margin: 0;
  padding: 0;
  outline: none;
}

.missing {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-size: 40rem;
}

.searchList {
  overflow: auto;
}

.searchItem {
  padding: 0 10rem;
  font-size: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1rem solid #111;
  background-color: lightblue;
  margin: 10rem 0;
  height: 50rem;
}

.orderSummarize {
  position: fixed;
  width: 150rem;
  top: 160rem;
  right: 10rem;
  font-size: 8rem;
  padding: 10rem;
  text-align: right;
  line-height: 15rem;
  letter-spacing: 0.5rem;
  border: 1px solid #bfbfbf;
  box-shadow: 10px 10px 5px #aaaaaa;
}

.orderDetails{
  margin:0 200rem 0 80rem;
}